* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

section {
    display: block;
}

#large_image_container {
    z-index: -1;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
}

#large_image {
    max-width: 95vw;
    max-height: 95vh;
    width: auto;
    height: auto;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.list {
    background: white;
    z-index: 0;
    columns: 300px;
    padding: 1em;
}

.image {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.image:hover {
    cursor: pointer;
}

.arrow_container {
    position: absolute;
    width: 25%;
    height: 100%;
    z-index: 200;
    opacity: 0.2;
}

#previous {
    left: 0;
}

#next {
    right: 0;
}

.arrow_container:hover {
    opacity: 0.7;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border: solid 1vw;
}

#previous_arrow {
    left: 1vw;
    border-color: transparent black transparent transparent;
}

#next_arrow {
    right: -1vw;
    border-color: transparent transparent transparent black;
}
